 Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
.installed.cfg
lib
lib64
__pycache__

# SQLite databases
*.sqlite

# Virtual environment
venv

# Rest of ignore
venv
venv/
/venv/
.idea
.idea/
__pycache__/
.pytest_cache/
.pytest_cache